@model MovieRecommender.Models.RegistrationSuccessfulModel

@{
    ViewBag.Title = "Registration successful";
}

<h2>RegistrationSuccessful</h2>
<strong>
    Account for user : @Html.DisplayFor(m => m.UserName) was created.
    You can @Html.ActionLink("login", "Login", "Account") now.
</strong>