@model MovieRecommender.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<div class="ui middle aligned center aligned grid">
    <div class="column">
        <h2 class="ui teal header">
            <span class="content">
                Create a new account
            </span>
        </h2>

        @using (Html.BeginForm("Register", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "ui large form" }))
        {
            @Html.AntiForgeryToken()

            <div class="ui stacked segment">
                <div class="field">
                    <div class="ui left icon input">
                        <i class="user icon"></i>
                        <input type="text" name="UserName" placeholder="Username">
                    </div>
                </div>

                <div class="field">
                    <div class="ui left icon input">
                        <i class="lock icon"></i>
                        <input type="password" name="Password" placeholder="Password">
                    </div>
                </div>

                <div class="field">
                    <div class="ui left icon input">
                        <i class="lock icon"></i>
                        <input type="password" name="ConfirmPassword" placeholder="Confirmed password">
                    </div>
                </div>

                <input type="submit" value="Register" class="ui fluid large teal submit button" />
            </div>
            @Html.ValidationSummary("", new { @class = "text-danger" })
        }

        <div class="ui message">
            New to us ? @Html.ActionLink("Register", "Register")
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
