@{
    ViewBag.Title = "Home Page";
}

<div class="ui container">
    @Html.Partial("SearchMoviesPartial")
</div>

<div class="ui internally celled grid">
    <div class="row">
        <div class="three wide column">
        </div>
        <div class="ten wide column">
            <p>Forrest Gump, while not intelligent, has accidentally been present at many historic moments, but his true love, Jenny Curran, eludes him.</p>
        </div>
    </div>
    <div class="row">
        <div class="three wide column">
        </div>
        <div class="ten wide column">
            <p>An insomniac office worker, looking for a way to change his life, crosses paths with a devil-may-care soap maker, forming an underground fight club that evolves into something much, much more.</p>
        </div>
    </div>
</div>

